/* body*/

html,
body {
    height: 800px;
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
}

.page-wrapper {
    min-height: 450px;
    margin-top: 100px;
}


/* Nav bar style  */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #701b4d, #22001f);
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #420338 !important;
    font-weight: 600;
    float: center;
    text-align: left;
    list-style: none;
    text-decoration: none;
}


/*search*/


/*search*/


/*
.search-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #972b6a, #42023d);
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

*/

.search-box {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    background: rosybrown;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.search-box:hover>.search-txt {
    width: 340px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: #a17a98;
}

.search-btn {
    color: #e9d8d8;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #4e1a4e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.fa-search {
    color: rgb(172, 158, 163);
}


/*end of search*/


/*end of search*/


/* langue*/


/* langue*/

.dropdown .btn {
    /* position: relative;
    top: 50%;
    left: 50%;
    margin-left: 410px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    */
    margin-top: 10%;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    outline: none !important;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: 0 0 10px rgba(39, 32, 32, 0.25);
}

.dropdown .dropdown-menu ul li {
    color: #000000 !important;
    font-weight: 600;
    float: left;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: rgba(110, 48, 67, 0.541);
    border-bottom-left-radius: 30px 20px;
    padding: 15px 10px;
    border-bottom: 3px solid rgba(95, 36, 54, 0.541);
}

.dropdown .dropdown-menu ul li:hover {
    color: #804141;
    background: #a17a98;
}

.dropdown .dropdown-menu ul li a {
    color: #000000 !important;
}


/*end of langue*/


/*end of langue*/


/*
.navbar-nav a:hover {
    border-top: 2px solid #44102c;
    border-bottom: 2px solid #3d072d;
    padding: 6px 0;  
}

*/

.logotext {
    color: #c3d0da;
    font-family: Merriweather;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.logotext:hover {
    color: #ffffff;
}

.logotext:active {
    color: #a33939;
    text-decoration: none;
    list-style: none;
}


/* fa-bar for both header and sidebar*/

.navbar-toggler {
    outline: none !important;
}

.fa-bars {
    color: rgb(201, 139, 163);
    font-size: 30px !important;
}


/* End Nav bar style  */

#titlebine {
    z-index: 100;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #360916;
    position: absolute;
    top: 70px;
    left: 550px;
    text-align: center;
}

@media screen and (min-width: 200px) and (max-width: 850px) {
    #titlebine {
        left: 69px;
        font-size: 30px;
        clear: both;
    }
}


/*sidebar*/

.sidebar-toggler {
    width: 50px;
    height: 70px;
    border-radius: 10%;
    outline: none !important;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

#sidebar {
    position: fixed;
    top: 65px;
    width: 200px;
    height: 70%;
    background-image: linear-gradient(to right, #b94589, #4d0336);
    left: -200px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar.active {
    left: 0px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #421832;
    margin: 5px 2px;
}

#sidebar ul li {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: rgba(110, 48, 67, 0.541);
    list-style: none;
    border-bottom-left-radius: 30px 20px;
    padding: 15px 10px;
    border-bottom: 2px solid rgba(161, 100, 126, 0.541);
    overflow-y: auto;
}


/*end of sidebar*/


/*wave1

.wave-container1 {
    position: relative;
    background-image: linear-gradient(to right, #701b4d, #22001f);
    color: #FFF;
    text-align: center;
    overflow: hidden;
}

.wave-container1>svg {
    display: block;
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.wave-container1>svg {
    display: block;
    transform-origin: top;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
*/


/*end 1*/


/*2*/

.wave-container2 {
    position: relative;
    background-image: linear-gradient(to right, #701b4d, #22001f);
    color: #fff;
    overflow: hidden;
    width: 100%;
}

.wave-container2>svg {
    display: block;
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }
}

.wave-container2>svg {
    display: block;
    transform-origin: top;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    -webkit-animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}


/*end 2*/


/* footer */

.footer {
    background-image: linear-gradient(to right, #701b4d, #22001f);
    color: #afc2ce;
    height: 200px;
    position: relative;
}

.footer .footer-content {
    height: 175px;
    display: flex;
}

.footer .footer-bottom {
    background-image: linear-gradient(to right, #6e2751, #31062e);
    color: #cccccc;
    height: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 0px;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 5px;
    /*border: 1px solid violet;*/
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.0em;
    margin-bottom: 4px;
}

.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    text-decoration-style: none;
    -moz-text-decoration-style: none;
    color: aliceblue;
}

.footer .footer-content .about .socials a:hover {
    color: #838383;
}


/* btn top style  */

.down {
    margin-left: 160px;
}

#btnScrollToTop {
    /*position: fixed;*/
    margin-left: 200px;
    margin-top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #4e1a4e;
    box-shadow: 0 0 10px rgba(255, 248, 248, 0.25);
    color: rgb(153, 120, 120);
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

#btnScrollToTop:active {
    background: #9c23cc;
}

.title {
    font-size: 35px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 200px;
}

.parag {
    font-size: 19px;
    font-weight: 600;
    margin-left: 200px;
}

.announce {
    background-color: rgb(165, 148, 148);
    width: 900px;
    border: 15px solid rgba(128, 0, 117, 0.322);
    padding: 50px;
    margin: 20px;
    margin-left: 400px;
}


}